<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
        <link rel="stylesheet" href="css/main.css">
        <title>Список служащих</title>
    </head>

    <body>
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a class="phone" href="tel:84872311345">8 (4872) 31-13-45</a>
                    <h1 class="header__title visibility-hidden">Экономьте время в Вашем доме</h1>
                    <img class="header__logo" src="img/logo-width-title.png"
                        alt="логотип агенство домашнего персонала Ваш Дом">
                    <div class="header-feedback">
                        <a class="header-feedback__link header-feedback__link--request" href="#">оставить заявку</a>
                        <a class="header-feedback__link header-feedback__link--resume" href="#">отправить резюме</a>

                        <div class="header-feedback__modal header-feedback__modal--request hidden">
                            <div class="header-feedback__modal-content">
                                <form class="header-feedback__form">

                                    <input type="text" id="full-name" name="full-name" placeholder="ФИО" required>
                                    <input type="tel" id="phone" name="phone" placeholder="Телефон" required>

                                    <div class="staff-select-group">
                                        <div class="dropdown">
                                            <button class="dropdown__button">Няня</button>
                                            <ul class="dropdown__list">
                                                <li class="dropdown__list-item" data-value="tutor">Репетитор</li>
                                                <li class="dropdown__list-item" data-value="governess">Гувернантка</li>
                                                <li class="dropdown__list-item" data-value="nanny">Няня</li>
                                                <li class="dropdown__list-item" data-value="driver">Водитель</li>
                                                <li class="dropdown__list-item" data-value="gardener">Садовник</li>
                                            </ul>
                                            <input class="dropdown__input-hidden" type="text" name="select-category"
                                                value="" required>
                                            <img src="img/select-arrow.png" alt="стрелка выбора опций">
                                        </div>
                                    </div>

                                    <div class="staff-select-group">
                                        <div class="dropdown">
                                            <button class="dropdown__button">График работы</button>
                                            <ul class="dropdown__list">
                                                <li class="dropdown__list-item" data-value="tutor">Полный день</li>
                                                <li class="dropdown__list-item" data-value="governess">Пол дня</li>
                                                <li class="dropdown__list-item" data-value="nanny">График работы</li>
                                                <li class="dropdown__list-item" data-value="driver">несколько часов</li>
                                                <li class="dropdown__list-item" data-value="gardener">Круглосуточно</li>
                                            </ul>
                                            <input class="dropdown__input-hidden" type="text" name="select-category"
                                                value="" required>
                                            <img src="img/select-arrow.png" alt="стрелка выбора опций">
                                        </div>
                                    </div>

                                    <textarea id="message" name="message"
                                        placeholder="Дополнительная информация"></textarea>

                                    <button type="submit" class="header-feedback__submit-button">Отправить</button>
                                </form>
                            </div>
                        </div>
                        <div class="header-feedback__modal header-feedback__modal--resume hidden">
                            <div class="header-feedback__modal-content">
                                <form class="header-feedback__form">

                                    <input type="text" id="full-name" name="full-name" placeholder="ФИО" required>
                                    <input type="tel" id="phone" name="phone" placeholder="Телефон" required>

                                    <div class="staff-select-group">
                                        <div class="dropdown">
                                            <button class="dropdown__button">Должность</button>
                                            <ul class="dropdown__list">
                                                <li class="dropdown__list-item" data-value="tutor">Репетитор</li>
                                                <li class="dropdown__list-item" data-value="governess">Гувернантка</li>
                                                <li class="dropdown__list-item" data-value="nanny">Няня</li>
                                                <li class="dropdown__list-item" data-value="driver">Водитель</li>
                                                <li class="dropdown__list-item" data-value="gardener">Садовник</li>
                                            </ul>
                                            <input class="dropdown__input-hidden" type="text" name="select-category"
                                                value="" required>
                                            <img src="img/select-arrow.png" alt="стрелка выбора опций">
                                        </div>
                                    </div>

                                    <input type="text" id="education" name="education" placeholder="Образование"
                                        required>
                                    <!-- <input type="file" id="attach-resume" name="attach-resume" placeholder="Прикрепить резюме" required> -->
                                    <input type="file" id="fileInput" class="custom-file-input">
                                    <label for="fileInput" class="custom-file-label">Выберите файл</label>

                                    <button type="submit" class="header-feedback__submit-button">Отправить</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a class="menu__link" href="#">главная</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__link" href="#">подобрать<br>персонал</a>
                        <ul class="submenu__list">
                            <li class="submenu__list-item">
                                <a class="submenu__link" href="#">о нас</a>
                            </li>
                            <li class="submenu__list-item">
                                <a class="submenu__link" href="#">задать вопрос</a>
                            </li>
                            <li class="submenu__list-item">
                                <a class="submenu__link" href="#">это интересно</a>
                            </li>
                            <li class="submenu__list-item">
                                <a class="submenu__link" href="#">отзывы</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__link" href="#">цены</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__link" href="#">оставить<br>заявку</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__link" href="#">оставить<br> вакансию</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__link" href="#">контакты</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="top-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/slide-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/slide-2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/slide-3.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/slide-4.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/slide-5.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/slide-6.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </section>
        <section class="recruit-staff">
            <div class="container">
                <h2 class="title recruit-staff__title">Подобрать персонал</h2>
                <div class="recruit-staff__inner">
                    <img class="recruit-staff__img--right" src="img/orn-r.png" alt="">
                    <img class="recruit-staff__img--left" src="img/orn-l.png" alt="">
                    <form action="#" method="post">
                        <div class="staff-select-group">
                            <label for="select-category">Показать только</label>
                            <div class="dropdown">
                                <button class="dropdown__button dropdown__button--show-only">Няня</button>
                                <ul class="dropdown__list dropdown__list--show-only">
                                    <li class="dropdown__list-item dropdown__list-item--show-only" data-value="nanny">Няня</li>
                                    <li class="dropdown__list-item dropdown__list-item--show-only" data-value="governess">Гувернантка</li>
                                    <li class="dropdown__list-item dropdown__list-item--show-only" data-value="street-cleaner">Дворник</li>
                                    <li class="dropdown__list-item dropdown__list-item--show-only" data-value="driver">Водитель</li>
                                    <li class="dropdown__list-item dropdown__list-item--show-only" data-value="gardener">Садовник</li>
                                </ul>
                                <input class="dropdown__input-hidden" type="text" name="select-category"
                                    value="" required>
                                <img src="img/select-arrow.png" alt="стрелка выбора опций">
                            </div>
                        </div>
                        <div class="selected-property__wrapper">
                            <div class="selected-property__row">
                                <label for="experience">Стаж от</label>
                                <input type="number" name="experience" placeholder="1" required>
                                <span>до</span>
                                <input type="number" name="experience" placeholder="30" required>
                                <span>лет</span>
                            </div>
                            <div class="selected-property__row">
                                <label for="age">Возраст от</label>
                                <input type="number" name="age" placeholder="25" required>
                                <span>до</span>
                                <input type="number" name="age" placeholder="65" required>
                                <span>лет</span>
                            </div>
                        </div>
                        <button class="button recruit-staff__btn" type="submit">подобрать</button>
                    </form>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>должность</th>
                            <th>возраст</th>
                            <th>стаж работы</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-row">
                            <td>Лопухова Надежда Александровна</td>
                            <td>Гувернантка</td>
                            <td>45</td>
                            <td>15 лет</td>
                        </tr>
                        <tr class="table-row">
                            <td class="table-data--active">Ермакова Надежда Ивановна</td>
                            <td class="table-data--border">Няня</td>
                            <td class="table-data--border">30</td>
                            <td>5лет</td>
                        </tr>
                        <tr class="table-row">
                            <td>Филимонов Евгений Семенович</td>
                            <td>Садовник</td>
                            <td>50</td>
                            <td>20лет</td>
                        </tr>
                        <tr class="table-row">
                            <td>Лопухова Надежда Александровна</td>
                            <td class="table-data--border">Уборщица</td>
                            <td class="table-data--border">35</td>
                            <td>7 лет</td>
                        </tr>
                        <tr class="table-row">
                            <td class="table-data--active">Миронов Юрий Герасимович</td>
                            <td>Конюх</td>
                            <td>60</td>
                            <td>15 лет</td>
                        </tr>
                        <tr class="table-row">
                            <td>Новикова Нина Алексеевна</td>
                            <td class="table-data--border">Повар</td>
                            <td class="table-data--border">55</td>
                            <td>30 лет</td>
                        </tr>
                        <tr class="table-row">
                            <td>Лопухова Надежда Александровна</td>
                            <td>Гувернантка</td>
                            <td>45</td>
                            <td>15 лет</td>
                        </tr>
                        <tr class="table-row">
                            <td>Лопухова Надежда Александровна</td>
                            <td class="table-data--border">Гувернантка</td>
                            <td class="table-data--border">45</td>
                            <td>15 лет</td>
                        </tr>
                        <tr class="table-row">
                            <td>Лопухова Надежда Александровна</td>
                            <td>Гувернантка</td>
                            <td>45</td>
                            <td>15 лет</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="benefits">
            <p class="benefits__text">Наличие в доме обслуживающего персонала - водителя, няни, гувернантки, горничной,
                домработницы - это вовсе не дань моде и не причуды избалованных нежданно свалившимся богатством
                нуворишей. Напротив, услугами сиделки или няни пользуются сегодня те, кто отлично знает цену деньгам и
                своему времени
                Наличие в доме обслуживающего персонала - водителя, няни, гувернантки, горничной, домработницы - это
                вовсе не дань моде и не причуды избалованных нежданно свалившимся богатством нуворишей. Напротив,
                услугами сиделки или няни пользуются сегодня те, кто отлично знает цену деньгам и своему времени
                <br>
                <br>

                Наличие в доме обслуживающего персонала - водителя, няни, гувернантки, горничной, домработницы - это
                вовсе не дань моде и не причуды избалованных нежданно свалившимся богатством нуворишей. Напротив,
                услугами сиделки или няни пользуются сегодня те, кто отлично знает цену деньгам и своему времени. Люди,
                для которых важно не только вырастить ребенка, но и создать основу будущего благосостояния, построив
                свою карьеру - вот основная категорий заказчиков, которые ежедневно пользуются услугами нашей компании
                по подбору домашнего персонала.
                Заказ няни, сиделки или домработницы является благом не только для женщины, которая имеет возможность
                строить свою карьеру или получить, наконец, передышку от выполнения бесконечных домашних обязанностей,
                но и для всех остальных членов семьи, которые могут провести вместе свободный вечер или выходные. А
                доступные цены, которые устанавливает на свои услуги наша компания, и предлагаемый нами широкий выбор
                различных категорий домашнего персонала делают исключительно удобным и, главное, безопасным процесс
                поиска няни для малыша, сиделки для пожилых членов семьи или домработницы для квартиры или загородного
                особняка.
                <br>
                <br>

                Наличие в доме обслуживающего персонала - водителя, няни, гувернантки, горничной, домработницы - это
                вовсе не дань моде и не причуды избалованных нежданно свалившимся богатством нуворишей. Напротив,
                услугами сиделки или няни пользуются сегодня те, кто отлично знает цену деньгам и своему времени. Люди,
                для которых важно не только вырастить ребенка, но и создать основу будущего благосостояния, построив
                свою карьеру - вот основная категорий заказчиков, которые ежедневно пользуются услугами нашей компании
                по подбору домашнего персонала.
                Заказ няни, сиделки или домработницы является благом не только для женщины, которая имеет возможность
                строить свою карьеру или получить, наконец, передышку от выполнения бесконечных домашних обязанностей,
                но и для всех остальных членов семьи, которые могут провести вместе свободный вечер или выходные. А
                доступные цены, которые устанавливает на свои услуги наша компания, и предлагаемый нами широкий выбор
                различных категорий домашнего персонала делают исключительно удобным и, главное, безопасным процесс
                поиска няни для малыша, сиделки для пожилых членов семьи или домработницы для квартиры или загородного
                особняка.
            </p>
        </section>
        <footer class="footer">
            <div class="footer-top">
                <nav class="footer-nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#" class="nav__link">главная</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link" target="_blank">подобрать персонал</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">цены</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">главная</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">подобрать персонал</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">цены</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <a class="phone" href="tel:84872311345">8 (4872) 31-13-45</a>
                    <div class="footer-copyright__wrapper">
                        <p class="footer-copyright-text">Разработка и продвижение сайта компанией «Юни Веб» -</p>
                        <img class="footer-copyright-img" src="img/logo-UW.png" alt="Логотип компании ЮниВеб">
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <script src="js/top-slider.js"></script>
        <script src="js/modal-window.js"></script>
    </body>

</html>